* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: $red;
}

main {
  max-width: 77.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
